@{
    ViewBag.Title = "Acerca de nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Beauty Store es un concepto visionario de belleza y venta al por menor fundado en Francia por Dominique Mandonnaud en 1970. El ambiente único de Beauty store ofrece total libertad de compra y la posibilidad de encontrar marcas clásicas,
    de tendencia y de nueva creación que siempre están en continua evolución.
    Las Marcas del portafolio de Beauty Store ofrecen una amplia gama de categorías de productos como maquillaje, cuidado para la piel, cuidado para el cabello.}

    Hoy en día, Beauty Store no sólo es la cadena líder de perfumería y tiendas de cosméticos en Francia, sino también una poderosa presencia de belleza en países de todo el mundo.
    Propiedad de LVMH Louis Vuitton Moët Hennessy, líder mundial en artículos de lujo, Beauty Store es reconocido como un pionero de la belleza, gracias a su incomparable variedad de
    productos de prestigio, servicio incomparable de expertos, entorno de compras interactivo, espíritu disruptivo e innovación constante.
    Beauty Store opera aproximadamente 1.900 tiendas en 29 países de todo el mundo, con una base en expansión en Latino América, incluyendo más de 30 tiendas entre Brasil y Mexico.

</p>
