@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Frontera Coah<br />
    <abbr title="Phone">Tel:</abbr>
    +866-737-34-54
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">i18050518@monclova.tecnm.mx</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">leijaarisbeth@gmail.com</a>
</address>